* {
  box-sizing: border-box;
}

body {
  background-color: hsl(211.76, 92.73%, 10.78%);
}

h1 {
  font-family: "Creepster", cursive;
  color: hsl(93.8, 61.74%, 77.45%);
  text-align: center;
  display: block;
  margin-top: 10%;
  font-size: 3rem;
  padding-bottom: 0%;
}

p {
  font-family: "Orbitron", sans-serif;
  font-size: 1rem;
  color: antiquewhite;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

.intro {
  display: block;
  margin: auto;
  width: 50%;
  text-align: center;
}

button {
  display: block;
  margin: auto;
  color: white; /* set text color to white */
  background-color: hsl(
    211.76,
    92.73%,
    10.78%
  ); /* set background color to a dark shade of green */
  border-radius: 10px; /* round the corners of the button */
  font-family: "Orbitron", sans-serif; /* set the font to a creepy font */
  padding: 10px 20px; /* add padding to the button */
  cursor: pointer;
}

/* add a hover effect to the button */
button:hover {
  background-color: hsl(
    211.76,
    92.73%,
    30.78%
  ); /* set the background color to a lighter shade of green on hover */
}

.welText {
  padding: 10px;
  text-align: center;
}

.imglogo {
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imglogo {
  align-self: center;
  align-content: center;
}

.imglogo img {
  align-self: center;
}

.wrapper {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  overflow: hidden;
}
.ufo {
  display: block;
  width: 227px;
  height: 168px;
  margin: 0 auto;
  transform: translateY(-200px);
  animation: flying 10s cubic-bezier(0.165, 0.84, 0.44, 1) 3s infinite;
  z-index: 1;
  position: relative;
}
.beam {
  display: block;
  margin: 0 auto;
  width: 263px;
  height: 252px;
  opacity: 0;
  transform: translateY(20px);
  animation: beam 10s cubic-bezier(0.455, 0.03, 0.515, 0.955) 5s infinite;
}
.beam-2 {
  opacity: 0;
  animation: spotlight 10s ease-in-out 5.3s infinite;
}

.sheep {
  display: block;
  width: 120px;
  height: 162px;
  margin: 0 auto;
  transform: translateY(-100px) rotate(-12deg);
  animation: abduction 10s ease-in-out 5.8s infinite;
}
a {
  color: #ffffff;
  font-family: sans-serif;
}

@keyframes flying {
  0% {
    transform: translateY(-200px);
  }
  20% {
    transform: translateY(70px);
  }
  60% {
    transform: translateY(70px);
  }
  80% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(-200px);
  }
}

@keyframes beam {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes spotlight {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.3;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes abduction {
  0% {
    transform: translateY(-100px) rotate(-12deg);
    opacity: 1;
  }
  30% {
    transform: translateY(-200px) rotate(0);
    opacity: 0;
  }
  55% {
    opacity: 0;
  }
  56% {
    transform: translateY(-100px) rotate(-12deg);
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
